<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.testuser.mapper.ITestUserMapper" >

	<select id="findTestUserByUsername" parameterType="java.lang.String" resultType="com.codet.testuser.pojo.TestUser">
		select * from testuser where username=#{username}
	</select>

	<insert id="insertTestUser" parameterType="com.codet.testuser.pojo.TestUser">
		insert into testuser(username,password) values(#{username},#{password});
	</insert>

</mapper>