<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- <mapper namespace="com.codet.mapper.HealtrecordsMapper" > -->
<mapper namespace="com.codet.back.healtrecords.mapper.HealtrecordsMapper">

	<!-- 添加客户健康信息 -->
	<insert id="InsertHealtrecordsExtend" parameterType="com.codet.pojo.HealtrecordsExtend">
		insert into
		HealtRecords (healtRecordsId, healthConsciousnessId,
		ireatmentReviewId, customId, diagnosisTime,
		familyHistory, height,
		weight,
		job)
		values (#{healtrecordsid,jdbcType=INTEGER},
		#{healthconsciousnessid,jdbcType=INTEGER},
		#{ireatmentreviewid,jdbcType=INTEGER}, #{customid,jdbcType=VARCHAR},
		#{diagnosistime,jdbcType=DATE},
		#{familyhistory,jdbcType=VARCHAR},
		#{height,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE},
		#{job,jdbcType=VARCHAR})
	</insert>


</mapper>