<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.custom.mapper.CustomMapper" >
  <resultMap id="BaseResultMap" type="com.codet.custom.pojo.Custom" >
    <id column="customId" property="customid" jdbcType="VARCHAR" />
    <result column="levelId" property="levelid" jdbcType="INTEGER" />
    <result column="cityId" property="cityid" jdbcType="INTEGER" />
    <result column="relativesId" property="relativesid" jdbcType="INTEGER" />
    <result column="customname" property="customname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    customId, levelId, cityId, relativesId, customname, name, phone, sex, birthday, address, 
    pic, wechat, integral, password
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.codet.custom.pojo.CustomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Custom
    where customId = #{customid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Custom
    where customId = #{customid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.codet.custom.pojo.CustomExample" >
    delete from Custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codet.custom.pojo.Custom" >
    insert into Custom (customId, levelId, cityId, 
      relativesId, customname, name, 
      phone, sex, birthday, 
      address, pic, wechat, 
      integral, password)
    values (#{customid,jdbcType=VARCHAR}, #{levelid,jdbcType=INTEGER}, #{cityid,jdbcType=INTEGER}, 
      #{relativesid,jdbcType=INTEGER}, #{customname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{address,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
      #{integral,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codet.custom.pojo.Custom" >
    insert into Custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customid != null" >
        customId,
      </if>
      <if test="levelid != null" >
        levelId,
      </if>
      <if test="cityid != null" >
        cityId,
      </if>
      <if test="relativesid != null" >
        relativesId,
      </if>
      <if test="customname != null" >
        customname,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customid != null" >
        #{customid,jdbcType=VARCHAR},
      </if>
      <if test="levelid != null" >
        #{levelid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="relativesid != null" >
        #{relativesid,jdbcType=INTEGER},
      </if>
      <if test="customname != null" >
        #{customname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codet.custom.pojo.CustomExample" resultType="java.lang.Integer" >
    select count(*) from Custom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Custom
    <set >
      <if test="record.customid != null" >
        customId = #{record.customid,jdbcType=VARCHAR},
      </if>
      <if test="record.levelid != null" >
        levelId = #{record.levelid,jdbcType=INTEGER},
      </if>
      <if test="record.cityid != null" >
        cityId = #{record.cityid,jdbcType=INTEGER},
      </if>
      <if test="record.relativesid != null" >
        relativesId = #{record.relativesid,jdbcType=INTEGER},
      </if>
      <if test="record.customname != null" >
        customname = #{record.customname,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.integral != null" >
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Custom
    set customId = #{record.customid,jdbcType=VARCHAR},
      levelId = #{record.levelid,jdbcType=INTEGER},
      cityId = #{record.cityid,jdbcType=INTEGER},
      relativesId = #{record.relativesid,jdbcType=INTEGER},
      customname = #{record.customname,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      integral = #{record.integral,jdbcType=INTEGER},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.codet.custom.pojo.Custom" >
    update Custom
    <set >
      <if test="levelid != null" >
        levelId = #{levelid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        cityId = #{cityid,jdbcType=INTEGER},
      </if>
      <if test="relativesid != null" >
        relativesId = #{relativesid,jdbcType=INTEGER},
      </if>
      <if test="customname != null" >
        customname = #{customname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where customId = #{customid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codet.custom.pojo.Custom" >
    update Custom
    set levelId = #{levelid,jdbcType=INTEGER},
      cityId = #{cityid,jdbcType=INTEGER},
      relativesId = #{relativesid,jdbcType=INTEGER},
      customname = #{customname,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where customId = #{customid,jdbcType=VARCHAR}
  </update>
</mapper>