<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.front.answer.mapper.AnswerFrontMapper">
<!-- 插入回复 -->	
<insert id="insertFrontAnswer" parameterType="com.codet.pojo.AnswerQueryPojo" >
    insert into Answer (answerId,
      contentM,
      answerTime, messageId)
    values (#{answerid,jdbcType=INTEGER},  
      #{contentM,jdbcType=VARCHAR},  
      #{answerTime}, 
       #{messageid,jdbcType=INTEGER})
</insert>

<!-- 删除回复 -->
<delete id="deleteAnswer" parameterType="java.lang.Integer" >
    delete from  Answer where Answer.answerId=#{answerid}
</delete>
</mapper>