<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.front.item.mapper.ItemFrontMapper">

	<resultMap id="ListMapLL" type="com.codet.pojo.ItemsQueryPojo">
		<association property="itemExtend" javaType="com.codet.pojo.ItemExtend">
			<id column="a" property="itemid" />
			<result column="b" property="name" />
		</association>
		<association property="itemlevel" javaType="com.codet.pojo.Itemlevel">
			<id column="c" property="itemlevelid"  />
			<result column="d" property="level"  />
		</association>
		<association property="itemtype" javaType="com.codet.pojo.Itemtype">
			<id column="e" property="itemtypeid"  />
			<result column="f" property="type"/>
		</association>
	</resultMap>

	<!-- 分页查询 -->
	<select id="itemFindAll" parameterType="java.util.Map" resultMap="ListMapLL">
		select Item.itemId a,Item.name b,ItemLevel.itemLevelId c,ItemLevel.level d,ItemType.itemTypeId e,ItemType.type f
		from Item,ItemLevel,ItemType
		where Item.itemLevelId = ItemLevel.itemLevelId and Item.itemTypeId = ItemType.itemTypeId
		limit 0,4
	</select>

</mapper>