<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.front.message.mapper.MessageFrontMapper">
	<select id="findMessageByMessageid" parameterType="int" resultType="com.codet.pojo.Message">
		select * from Message where messageId = ${messageid}%
	</select>
	
<insert id="insertFrontMessage" parameterType="com.codet.pojo.MessageQueryPojo" >
    insert into Message (messageId,
      content,
      messageTime, customId)
    values (#{messageid,jdbcType=INTEGER},  
      #{content,jdbcType=VARCHAR},  
      #{messageTime}, 
       #{customid,jdbcType=VARCHAR})
</insert>
<!-- 删除留言 -->
<delete id="deteleMessage" parameterType="java.lang.Integer" >
    delete from  Message where Message.messageId=#{messageid}
</delete>
</mapper>