<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.back.custom.mapper.CustomMapper">

<sql id="Base_Column_List" >
    customId, levelId, cityId, relativesId, customname, name, phone, sex, birthday, address, 
    pic, wechat, integral, password
</sql>
  <select id="selectCustom" resultType="com.codet.pojo.CustomExtend" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Custom
    where customId = #{customid,jdbcType=VARCHAR}
  </select>

<delete id="deleteCustomByCustomid" parameterType="java.lang.String" >
    delete from Custom
    where customId = #{customid,jdbcType=VARCHAR}
</delete>
<insert id="insertCustom" parameterType="com.codet.pojo.CustomQueryPojo" >
    insert into Custom (customId,
      customname, name, 
      phone, sex, birthday, 
      address, pic, wechat, 
      password)
    values (#{customid,jdbcType=VARCHAR},  
      #{customname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{address,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
       #{password,jdbcType=VARCHAR})
</insert>
<update id="updateCustom" parameterType="com.codet.pojo.CustomQueryPojo" >
    update Custom
    set  
      levelId = #{levelid,jdbcType=INTEGER},
      cityId = #{cityid,jdbcType=INTEGER},
      relativesId = #{relativesid,jdbcType=INTEGER},
      customname = #{customname,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where customId = #{customid,jdbcType=VARCHAR}
</update>
<select id="findCustomByCustomid" parameterType="string" resultType="com.codet.pojo.CustomExtend">
		select * from Custom where customId = #{_parameter}
</select>
	
<select id="findCustomByName" parameterType="string" resultType="com.codet.pojo.CustomExtend">
		select * from Custom where name like '%${_parameter}%'
</select>

<select id="findPageCustomByCustomid" parameterType="com.codet.pojo.CustomQueryPojo" resultType="com.codet.pojo.CustomExtend">
		select *
		from Custom
		where ${searchType} like '%${keyword}%'
		limit ${pageNo*pageSize},${pageSize}
	</select>
	
	<select id="findCustomAllCount" parameterType="com.codet.pojo.CustomQueryPojo" resultType="int">
		select count(*) 
		from Custom 
		<where>
			and ${searchType} like '%${keyword}%'
		</where> 
	</select>
	
	
	<select id="findPageCustomBySearchtype" parameterType="com.codet.pojo.CustomQueryPojo" resultType="com.codet.pojo.CustomExtend">
		select *
		from Custom
		<where>
			${searchType} like '%${keyword}%'
			limit ${pageNo*pageSize},${pageSize}	
		</where>
	</select>

</mapper>