<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.mapper.HealthyprojecttimearrangetypeMapper" >
  <resultMap id="BaseResultMap" type="com.codet.pojo.Healthyprojecttimearrangetype" >
    <id column="projectTimeArrangeTypeId" property="projecttimearrangetypeid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    projectTimeArrangeTypeId, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.codet.pojo.HealthyprojecttimearrangetypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HealthyProjectTimeArrangeType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from HealthyProjectTimeArrangeType
    where projectTimeArrangeTypeId = #{projecttimearrangetypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from HealthyProjectTimeArrangeType
    where projectTimeArrangeTypeId = #{projecttimearrangetypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.codet.pojo.HealthyprojecttimearrangetypeExample" >
    delete from HealthyProjectTimeArrangeType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codet.pojo.Healthyprojecttimearrangetype" >
    insert into HealthyProjectTimeArrangeType (projectTimeArrangeTypeId, type)
    values (#{projecttimearrangetypeid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codet.pojo.Healthyprojecttimearrangetype" >
    insert into HealthyProjectTimeArrangeType
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projecttimearrangetypeid != null" >
        projectTimeArrangeTypeId,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projecttimearrangetypeid != null" >
        #{projecttimearrangetypeid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codet.pojo.HealthyprojecttimearrangetypeExample" resultType="java.lang.Integer" >
    select count(*) from HealthyProjectTimeArrangeType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HealthyProjectTimeArrangeType
    <set >
      <if test="record.projecttimearrangetypeid != null" >
        projectTimeArrangeTypeId = #{record.projecttimearrangetypeid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HealthyProjectTimeArrangeType
    set projectTimeArrangeTypeId = #{record.projecttimearrangetypeid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.codet.pojo.Healthyprojecttimearrangetype" >
    update HealthyProjectTimeArrangeType
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where projectTimeArrangeTypeId = #{projecttimearrangetypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codet.pojo.Healthyprojecttimearrangetype" >
    update HealthyProjectTimeArrangeType
    set type = #{type,jdbcType=VARCHAR}
    where projectTimeArrangeTypeId = #{projecttimearrangetypeid,jdbcType=INTEGER}
  </update>
</mapper>