<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codet.mapper.TreatmentreviewMapper" >
  <resultMap id="BaseResultMap" type="com.codet.pojo.Treatmentreview" >
    <id column="ireatmentReviewId" property="ireatmentreviewid" jdbcType="INTEGER" />
    <result column="review" property="review" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ireatmentReviewId, review
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.codet.pojo.TreatmentreviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TreatmentReview
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TreatmentReview
    where ireatmentReviewId = #{ireatmentreviewid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TreatmentReview
    where ireatmentReviewId = #{ireatmentreviewid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.codet.pojo.TreatmentreviewExample" >
    delete from TreatmentReview
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codet.pojo.Treatmentreview" >
    insert into TreatmentReview (ireatmentReviewId, review)
    values (#{ireatmentreviewid,jdbcType=INTEGER}, #{review,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codet.pojo.Treatmentreview" >
    insert into TreatmentReview
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ireatmentreviewid != null" >
        ireatmentReviewId,
      </if>
      <if test="review != null" >
        review,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ireatmentreviewid != null" >
        #{ireatmentreviewid,jdbcType=INTEGER},
      </if>
      <if test="review != null" >
        #{review,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codet.pojo.TreatmentreviewExample" resultType="java.lang.Integer" >
    select count(*) from TreatmentReview
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TreatmentReview
    <set >
      <if test="record.ireatmentreviewid != null" >
        ireatmentReviewId = #{record.ireatmentreviewid,jdbcType=INTEGER},
      </if>
      <if test="record.review != null" >
        review = #{record.review,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TreatmentReview
    set ireatmentReviewId = #{record.ireatmentreviewid,jdbcType=INTEGER},
      review = #{record.review,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.codet.pojo.Treatmentreview" >
    update TreatmentReview
    <set >
      <if test="review != null" >
        review = #{review,jdbcType=VARCHAR},
      </if>
    </set>
    where ireatmentReviewId = #{ireatmentreviewid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codet.pojo.Treatmentreview" >
    update TreatmentReview
    set review = #{review,jdbcType=VARCHAR}
    where ireatmentReviewId = #{ireatmentreviewid,jdbcType=INTEGER}
  </update>
</mapper>